# Derlenmiş Sınıflar (Class Files)
*.class
bin/

# Maven
target/
.maven/

# IDE Dosyaları (Eclipse, IntelliJ, VSCode)
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Kullanıcı Veritabanı ve İşlemler (Veri Dosyaları)
users.txt
transactions.txt
